html, body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

* {
    font-family: SansSerif, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    color: #767676;
}

.center {
    margin: auto;
}

